{% load static %}

<html>
    <head>
        <title>Harry's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="top-menu">
                <div class="left">
                    <a href="/">HOME</a> 
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}">NEW</a>
                    {% endif %}               
                </div>
                <a href="/about">ABOUT</a>
            </div>
            <h1>Blog</h1>
        </div>    
        
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>