.page-header {
    margin: 0% 25% 0% 25%;
    border: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #EF5350;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu a {
    font-size: 13pt;
    color: #AAAAAA;
    text-decoration: none;
}

.top-menu .left {
    margin-right: 1em;
}

h1, h2, h3, h4 {
    color: #EF5350;
}

.content{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    background-color: #111111;
    color: #FFFFFF;
    width: 100%;
    border-style: solid;
    border-color: #AAAAAA;
    border-width:  0.1em;
    overflow: auto;
}

.post-form textarea:focus, .post-form input:focus {
    border-color: #DDDDDD;
}

.post-form textarea:invalid, .post-form input:invalid {
    box-shadow: none;
}

.post-form label {
    color: #EF5350;
}

.post-form .submit-button {
    float: right;
    background-color: #111111;
    color: #FFFFFF;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 0.1em;
}

.post-form .submit-button:hover {
    transition-duration: 100ms;
    background-color: #222222;
}

.post .post-info a, .post .post-info a:visited {
    color: #AAAAAA;
    text-decoration: none;
}

.post .post-info {
    display: flex;
    justify-content: space-between;
}   

.post .post-info h4 {
    font-size: 2em;
}

.post .post-info a {
    color: #AAAAAA;
    align-self: center;
    margin-left: 2em;
    font-size: 13pt;
}
.post .post-info p {
    color: #AAAAAA;
    margin-top: -15px;
}

.post-preview .post-info h4 {
    font-size: 2em;
}

.post-preview .post-info a {
    color: #EF5350;
    text-decoration: none;
}

.post-preview .post-info a:hover {
    color: rgb(238, 124, 122);
}  

.post-preview .post-info p {
    color: #AAAAAA;
    margin-top: -15px;
}

.post-content {
    color: #FFFFFF;
    font-size: 1em;
}

body {
    background-color: #111111;
    font-family: monospace;
}
